<section class="bg-info pt-5 pb-3 text-center contact-detail">
	<div class="container pt-3">
		<div class="lc-block mb-5 text-white" editable="rich">
			<h2 class="fs-4 special-title text-center">CONTACT US</h2>
		</div>
	</div>
	<div class="container mx-auto" style="max-width:1000px">
		<div class="row">
			<div class="col-md-4 mb-5">
				<div class="lc-block line-box mb-5">
					<div class="bg-warning p-3 d-inline-block rounded-pill text-dark" style="box-shadow:0px 0px 0 14px #3c8ced4f"><svg width="2.8em" height="2.8em" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon" class="">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
						</svg></div>
				</div><!-- /lc-block -->
				<div class="lc-block text-white">
					<div editable="rich">
						<h6 class="fw-bold fs-7">ADDRESS</h6>
						<p>The Trendy Building - Bangkok</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
			<div class="col-md-4 mb-5">
				<div class="lc-block line-box mb-5">
					<div class="bg-warning p-3 d-inline-block rounded-pill text-dark" style="box-shadow:0px 0px 0 14px #3c8ced4f"><svg width="2.8em" height="2.8em" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
						</svg></div>
				</div><!-- /lc-block -->
				<div class="lc-block text-white">
					<div editable="rich">
						<h6 class="fw-bold fs-7">PHONE</h6>
						<p>+66 (0)2 114-3151</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
			<div class="col-md-4 mb-5">
				<div class="lc-block mb-5">
					<div class="bg-warning p-3 d-inline-block rounded-pill text-dark position-relative" style="box-shadow:0px 0px 0 14px #3c8ced4f"><svg width="2.8em" height="2.8em" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" lc-helper="svg-icon">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
						</svg></div>
				</div><!-- /lc-block -->
				<div class="lc-block text-white">
					<div editable="rich">
						<h6 class="fw-bold fs-7">E-MAIL</h6>
						<p>hello@trueprotection.co.th</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
		</div>
	</div>
</section>
<section id="footer-main" class="text-light footer-bg py-5">
	<div class="container pt-4 pb-2">
		<div class="row">
			<div class="col-lg-3 mb-5 mb-lg-0">
				<div class="lc-block mb-4"><img class="" alt="" src="https://dev.trueprotection.co.th/wp-content/uploads/2021/12/logo.svg" style="max-width:200px" width="" height="" srcset="" sizes=""></div>
				<!--<div class="lc-block">-->
				<!--	<h4 class="h6 special-title-2 mb-3">FIND US HERE</h4>-->
				<!--</div>-->
				<!-- /lc-block -->
				<div class="lc-block d-flex  mb-4"><a class="me-3 text-white hover-text-primary" href="https://www.facebook.com/trueprotectionTH" target="_blank" rel="noopener"><i class="fab fa-facebook-f fs-6"></i></a>
					<a class="me-3 text-white hover-text-primary" href="https://www.instagram.com/trueprotection/" target="_blank" rel="noopener"><i class="fab fa-instagram fs-5" style="position: relative; top: 1px"></i></a>
					<a class="me-3 text-white hover-text-primary" href="https://www.youtube.com/channel/UCaN5be_S0yHMsIo_kP6sZOg" target="_blank" rel="noopener"><i class="fab fa-youtube fs-5" style="position: relative; top: 1px"></i></a>
					<a class="me-3 text-white hover-text-primary" href="#" target="_blank" rel="noopener"><i class="fab fa-tiktok fs-6" style="position: relative; top: -1px"></i></a>
					<a class="me-3 text-white hover-text-primary" href="https://linkedin.com/company/trueprotection/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in fs-5" style="position: relative; top: 0px"></i></a>
				</div>
				<div class="lc-block">
					<div editable="rich">
						<p>Copyright © 2017-2022<br>True Protection Co.,Ltd<br>All Rights Reserved.</p>
					</div>
				</div><!-- /lc-block -->
			</div>
			<div class="col-lg-3 mb-5 mb-lg-0">
				<div class="lc-block">
					<div editable="rich">
						<h4 class="h6 special-title-2 mb-3">ABOUT</h4>
					</div>
				</div>
				<!-- /lc-block -->
				<div class="lc-block" style="text-align: left;">
					<div editable="rich">
						<p>True Protection was founded in 2017 and is today Thailand's largest network in security, private investigations, VIP service and training.</p>
						<img src="https://dev.trueprotection.co.th/wp-content/uploads/2022/03/ee0e6fd4d6ad3283ce1b38e28481a51cb25a9dac-300x85.png" width="300" height="85" srcset="https://dev.trueprotection.co.th/wp-content/uploads/2022/03/ee0e6fd4d6ad3283ce1b38e28481a51cb25a9dac-300x85.png 300w, https://dev.trueprotection.co.th/wp-content/uploads/2022/03/ee0e6fd4d6ad3283ce1b38e28481a51cb25a9dac.png 474w" sizes="(max-width: 300px) 100vw, 300px" alt="" class=" wp-image-1984">
					</div>
				</div>
				<!-- /lc-block -->
			</div>
			<div class="col-lg-3 mb-5 mb-lg-0">
				<div class="lc-block">
					<div editable="rich">
						<h4 class="h6 special-title-2 mb-3">USEFUL LINKS</h4>
					</div>
				</div>
				<!-- /lc-block -->
				<div class="lc-block">
					<div editable="rich">
						<ul class="list-unstyled fw-normal fs-8">
							<li class="mb-1"><a href="/register-as-partner/">Become a Partner</a></li>
							<li class="mb-1"><a href="/faq/">FAQ</a></li>
							<li class="mb-1"><a href="/about-us/">About Us</a></li>
							<li class="mb-1"><a href="/contact-us/">Contact Us</a></li>
							<li class="mb-1"><a href="/private-policy/">Private Policy</a></li>
							<li class="mb-1"><a href="/terms/">Terms &amp; Conditions</a></li>
						</ul>
					</div>
				</div>
				<!-- /lc-block -->
			</div>
			<div class="col-lg-3">
				<div class="lc-block">
					<div editable="rich">
						<h4 class="h6 special-title-2 mb-3">OUR SERVICES</h4>
					</div>
				</div>
				<!-- /lc-block -->
				<div class="lc-block">
					<div editable="rich">
						<ul class="list-unstyled fw-normal fs-8">
							<li class="mb-1"><a href="/protection/">Bodyguard Services</a></li>
							<li class="mb-1"><a href="/security/">Security Services</a></li>
							<li class="mb-1"><a href="/private/">Private Investigation</a></li>
							<li class="mb-1"><a href="/vip/">VIP Services</a></li>
							<li class="mb-1"><a href="/education/">Education</a></li>
							<li class="mb-1"><a href="/equipments/">Monitoring Equipments</a></li>
							<li class="mb-1"><a href="https://truetacticalstore.com" target="_blank" rel="noopener">True Tactical Store</a></li>
						</ul>
					</div>
				</div>
				<!-- /lc-block -->
			</div>
		</div>
	</div>
</section>